<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,
      body {
        font-family: sans-serif;
      }
    </style>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <!-- <mnist-trainer
      train-images="ressources/train-900-images-idx3-ubyte.gz"
      train-labels="ressources/train-900-labels-idx1-ubyte.gz"
      test-images="ressources/test-90-images-idx3-ubyte.gz"
      test-labels="ressources/test-90-labels-idx1-ubyte.gz"
      batch-size="16"
      epochs="50"
      val-batch-size="90"
    ></mnist-trainer> -->
    <mnist-trainer></mnist-trainer>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
