<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html,
      body {
        font-family: sans-serif;
      }
    </style>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <mnist-trainer></mnist-trainer>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
